<Html:5>
    <head>
        <title>Datos del Usuario</title>
        <meta charset="utf-8">
        <link href="stilos.css" rel="stylesheet">
    </head>
    <body>
        <form action="" method="get">
            <H1>Datos del Usuario</H1>
            <p>Nombre: [% name %]</p>
            <p>Apellido: [% surname %]</p>
            <p>Fecha de Nacimiento: [% date_bth %]</p>
            <p>Correo Electrónico: [% email %]</p>
            <button class="next">Cerrar Sesión</button>
        </form>
    </body>
</Html:5>
